{{ if ne .Label "nil" }}
<label class="text-gray-300 mt-4 mb-2" {{with .ID}}for="{{.}}"{{end}}>
	{{.Label}}
</label>
{{ end }}
{{ if eq .Type "select" }}
<select class="rounded-md" {{with .ID}}id="{{.}}"{{end}} name="{{.Name}}">
{{ $p := . }}{{ range $option := (fn_options .ID) }}
<option value="{{$option.Key}}" {{ if eq $p.Placeholder $option.Key}} selected{{end}}>{{$option.Value}}</option>
{{end}}
</select>
{{ else }}
<input class="rounded-md" {{with .ID}}id="{{.}}"{{end}} type="{{.Type}}" name="{{.Name}}" placeholder="{{.Placeholder}}" {{with .Value}}value="{{.}}"{{end}} required>
{{ end }}
{{with .Footer}}
  <p>{{.}}</p>
{{end}}
