## Confirm your subscription to Base58's Protocols Newsletter 📨

You're just one step away from confirming **{{ .Email }}** joining the elite Base58 Protocols mailing list. We'll send you notices about new classes and workshops, along with the occassional tidbit about the Bitcoin protocol.

Click the button below to confirm your subscription! 


> [Confirm Subscription](button#{{.ConfirmURL}})


...or click this [link]({{ .ConfirmURL }})



While you're here, why not check out our [Bitcoin Developer Basics 01](https://www.udemy.com/course/base58-bitcoin-transactions-one/?referralCode=4405769CAB73A12745F4) on Udemy?

Or catch up on the latest [bitcoin++](https://btcpp.dev) videos on [YouTube](https://www.youtube.com/channel/UCosoJ9ReUBqMIuD4g4IOtyw).
