## Confirm your spot on Base58's {{ .Newsletter }} Course Waitlist 📨

You're just one step away from confirming **{{ .Email }}**'s spot on the Base58 {{ .Newsletter }} course waitlist. You'll be the first to know when we have updates about new classes.

Click the button below to confirm your spot on the waitlist! 


> [Confirm Waitlist](button#{{.ConfirmURL}})


...or click this [link]({{ .ConfirmURL }})



While you're here, why not check out our [Bitcoin Developer Basics 01](https://www.udemy.com/course/base58-bitcoin-transactions-one/?referralCode=4405769CAB73A12745F4) on Udemy?

Or catch up on the latest [bitcoin++](https://btcpp.dev) videos on [YouTube](https://www.youtube.com/channel/UCosoJ9ReUBqMIuD4g4IOtyw).
