{{ define "faq" }}
    <section class="section_faq">
      <div class="padding-global">
        <div class="container-large">
          <div class="padding-section-large">
            <div class="faq_container">
              <div class="w-layout-grid faq_content">
                <div class="faq_content-left">
                  <div class="margin-bottom margin-small">
                    <h2 class="heading-2 white">FAQ</h2>
                  </div>
                  <p class="text-size-medium white"><span class="orange-text">We&#x27;ve answered the most common questions here. </span><br>‍<br><span class="question_cta">Question not answered?</span></p>
                  <div class="margin-top margin-medium">
                    <div class="button-group">
                      <a href="/contact" class="tertiary-button dark-bg w-button">Get in Touch</a>
                    </div>
                  </div>
                </div>
                <div class="faq_list">
                  <div class="w-layout-grid faq_list-grid">
                    <div class="faq_accordion">
                      <div class="faq_question">
                        <div class="text-size-medium text-weight-bold">What payment methods do you accept?</div>
                        <div class="faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div class="faq_answer">
                        <div class="margin-bottom margin-small">
                          <div class="max-width-large">
                            <p class="text-size-small">For courses on Udemy, we only accept fiat payments. For courses on our site, you can checkout with Bitcoin (onchain + lightning) or with a credit card (fiat)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="faq_accordion">
                      <div class="faq_question">
                        <div class="text-size-medium text-weight-bold">What if I&#x27;m not satisfied with the course?</div>
                        <div class="faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div class="faq_answer">
                        <div class="margin-bottom margin-small">
                          <div class="max-width-large">
                            <p class="text-size-small">You can get a full refund within the first week of the course. No questions asked.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="faq_accordion">
                      <div class="faq_question">
                        <div class="text-size-medium text-weight-bold">Are there any options for team training?</div>
                        <div class="faq_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div class="faq_answer">
                        <div class="margin-bottom margin-small">
                          <div class="max-width-large">
                            <p class="text-size-small">Yes! Please contact us at <a target="_blank" href="mailto:hello@base58.school">hello@base58.school</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{{ end }}
