{{ define "footer" }}
    <!-- version 2.0.6 -->
    <script src="/static/js/htmx-206.min.js" type="text/javascript"></script>
    <footer class="footer_section">
      <div class="padding-global">
        <div class="container-large">
          <div class="padding-vertical padding-xxlarge">
            <div class="padding-bottom padding-xxlarge">
              <div class="w-layout-grid footer2_top-wrapper">
                <div class="w-layout-grid footer2_left-wrapper">
                  <a href="/" aria-current="page" class="navbar_logo-link w-nav-brand w--current"><img loading="lazy" src="static/img/chainlogo.avif" alt="" class="image-3"><img loading="lazy" src="static/img/locklogo.avif" alt="" class="image-3"></a>
                  <div class="footer2_link-column">
                    <div class="margin-bottom margin-xsmall">
                      <div class="bold-text">Courses</div>
                    </div>
                    <div class="footer2_link-list">
                      <a href="/courses" class="footer2_link">Browse All</a>
                      <a href="/courses#entry-level" class="footer2_link">Entry-level</a>
                      <a href="/courses#developer" class="footer2_link">Developer</a>
                      <a href="/courses#experienced" class="footer2_link">Experienced</a>
                    </div>
                  </div>
                  <div class="footer2_link-column">
                    <div class="margin-bottom margin-xsmall">
                      <div class="bold-text">Workshops</div>
                    </div>
                    <div class="footer2_link-list">
                      <a href="/workshop" class="footer2_link">About</a>
                      <a href="/workshop/book" class="footer2_link">Book a Work(shop)</a>
                      <a href="/workshop/become" class="footer2_link">Become a Facilitator</a>
                    </div>
                  </div>
                  <div class="footer2_link-column">
                    <div class="margin-bottom margin-xsmall">
                      <div class="bold-text">Company</div>
                    </div>
                    <div class="footer2_link-list">
                      <a href="/about" class="footer2_link">About Us</a>
                      <a href="/about" class="footer2_link">Our Mission</a>
                      <a href="/contact" class="footer2_link">Get In Touch</a>
                    </div>
                  </div>
                </div>
                <div class="footer2_right-wrapper">
                  <div class="margin-bottom margin-xsmall">
                    <div class="text-weight-semibold">Subscribe</div>
                  </div>
                  <div class="margin-bottom margin-xsmall"></div>
                  <div class="footer2_form-block">
                    <div id="email-form" name="email-signup" class="footer9_form"> 
                      <input class="form_input w-input" maxlength="256" 
		        name="newsletter-email"
		        id="newsletter-email" type="email" 
			required
                        autoComplete="on" autoCorrect="off" 
			autoCapitalize="off" spellCheck="false"
                        placeholder="you@base58.school"
                        />
		      <button id="subscribe-btn" 
		      class="tertiary-button is-light w-button"
		      hx-post="/newsletter/subscribe"
		      hx-include="#newsletter-email"
		      hx-trigger="click"
                      hx-target="#news_subscribe_result">Subscribe</button>
		    </div>
                    <div class="text-size-tiny neutral">By subscribing you agree to receive updates from Base58. No spam, just the good stuff.</div>
		    <div id="news_subscribe_result">
		    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="line-divider"></div>
            <div class="padding-top padding-medium">
              <div class="footer2_bottom-wrapper">
                <div class="w-layout-grid footer2_legal-list">
                  <div id="w-node-b28bcbf7-dd0f-a837-ba65-18a319b91d28-19b91cda" class="footer2_credit-text">© {{ .Copyright }} Base58. All rights reserved.</div>
                  <a href="#" class="footer2_legal-link white">Privacy Policy</a>
                  <a href="#" class="footer2_legal-link white">Terms of Service</a>
                </div>
                <div class="w-layout-grid footer2_social-list">
                  <a target="_blank" href="https://discord.gg/2rJUZCVnBd" class="footer2_social-link w-inline-block"><img src="static/img/discord-white_1.avif" loading="lazy" width="24" sizes="24px" alt="" srcset="static/img/discord-white_1discord-white.avif 500w, static/img/discord-white_1-p-800.png 800w, static/img/discord-white_1-p-1080.png 1080w, static/img/discord-white_1.avif 3337w"></a>
                  <a target="_blank" href="https://www.youtube.com/channel/UCosoJ9ReUBqMIuD4g4IOtyw" class="footer2_social-link w-inline-block"><img src="static/img/youtubeicon-white_1.avif" loading="lazy" width="24" alt=""></a>
                  <a href="https://x.com/base58btc" target="_blank" class="footer2_social-link w-inline-block"><img src="static/img/x-icon-white.avif" loading="lazy" width="22" alt=""></a>
                  <a href="https://github.com/base58btc" target="_blank" class="footer2_social-link w-inline-block"><img src="static/img/gh-white.avif" loading="lazy" width="24" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
{{ end }}
