{{ define "nav" }}
    <div data-animation="default" class="navbar_section w-nav" data-easing2="ease" fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="all" data-w-id="25fbdeb2-68b0-dd58-0945-f6c6bb6053d3" role="banner" data-duration="0">
      <div class="navbar_container">
        <a href="/" aria-current="page" class="navbar_logo-link w-nav-brand w--current"><img loading="lazy" src="/static/img/chainlogo.avif" alt="" class="image-3"><img loading="lazy" src="/static/img/locklogo.avif" alt="" class="image-3"></a>
        <div class="navbar_wrapper">
          <nav role="navigation" class="navbar_menu w-nav-menu">
            <div class="navbar_menu-wrapper">
              <div class="navbar_links-wrapper">
                <a href="courses" class="navbar_link w-nav-link">Courses</a>
                <div id="w-node-_25fbdeb2-68b0-dd58-0945-f6c6bb6053de-bb6053d3"><img id="w-node-_25fbdeb2-68b0-dd58-0945-f6c6bb6053df-bb6053d3" loading="lazy" alt="" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" class="image _2"></div>
                <a href="/about" class="navbar_link w-nav-link">About Base58</a>
                <a href="/workshop" class="navbar_link w-nav-link">Bitcoin at Work(shop)</a>
              </div>
              <div class="navbar_bottom">
                <a target="_blank" href="mailto:hello@base58.school" class="text-size-large menu">hello@base58.school</a>
                <div class="w-layout-grid navbar_social-list">
                  <a href="https://discord.gg/2rJUZCVnBd" target="_blank" class="navbar_social-link w-inline-block"><img sizes="100vw" srcset="/static/img/discord-white_1discord-white.avif 500w, static/img/discord-white_1-p-800.png 800w, static/img/discord-white_1-p-1080.png 1080w, static/img/discord-white_1.avif 3337w" alt="" src="/static/img/discord-white_1.avif" loading="lazy" class="menu-image"></a>
                  <a href="https://www.youtube.com/channel/UCosoJ9ReUBqMIuD4g4IOtyw" target="_blank" class="navbar_social-link w-inline-block"><img src="/static/img/youtubeicon-white_1.avif" loading="lazy" alt="" class="menu-image"></a>
                  <a href="https://x.com/base58btc" target="_blank" class="navbar_social-link w-inline-block"><img src="/static/img/x-icon-white.avif" loading="lazy" alt="" class="menu-image"></a>
                  <a href="https://github.com/base58btc" target="_blank" class="navbar_social-link w-inline-block"><img src="/static/img/gh-white.avif" loading="lazy" alt="" class="menu-image"></a>
                </div>
              </div>
            </div>
          </nav>
          <div class="navbar18_menu-button w-nav-button">
            <div class="menu-icon4">
              <div class="menu-icon_wrapper">
                <div class="menu-icon4_line-top"></div>
                <div class="menu-icon4_line-middle">
                  <div class="menu-icon4_line-middle-top"></div>
                  <div class="menu-icon4_line-middle-base"></div>
                </div>
                <div class="menu-icon4_line-bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{{ end }}
