{{ define "testimonials" }}
    <section class="section_testimonial">
      <div class="padding-global">
        <div class="container-large">
          <div class="padding-section-large">
            <div class="testimonial7_component">
              <div data-delay="4000" data-animation="slide" class="testimonial7_slider w-slider" data-autoplay="false"
                data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0"
                data-nav-spacing="3" data-duration="500" data-infinite="true">
                <div class="testimonial7_mask w-slider-mask">
                  <div class="testimonial7_slide w-slide">
                    <div class="testimonial7_content">
                      <h3 class="heading-style-h6-3">&quot;As a junior developer it&#x27;s a daunting task jumping into
                        Bitcoin development for the first time, I&#x27;ve tried on my own and failed multiple times in
                        the past. Base58 gave me a new opportunity to dive in again guided by a real expert in the
                        industry along side a class of likeminded students. This has been invaluable for my
                        understanding of the Bitcoin protocol and has given me examples and actionable next steps for
                        developing my skills and starting to build on Bitcoin for real. Thank you Base58!&quot;</h3>
                      <div class="margin-top margin-medium">
                        <div class="testimonial7_client">
                          <div class="margin-bottom margin-xsmall">
                            <div class="testimonial7_client-image-wrapper"><img loading="lazy"
                                src="/static/img/reviews/anon_dev.png" alt="" class="testimonial7_client-image"></div>
                          </div>
                          <div class="text-size-medium semi-bold">PlebDev</div>
                          <div class="text-size-small">Front End Engineer @ Fold</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial7_slide w-slide">
                    <div class="testimonial7_content">
                      <div class="margin-bottom margin-medium"></div>
                      <h3 class="heading-style-h6-3">&quot;Phenomenal course. Came into it with limited technical
                        knowledge of bitcoin. They make it super accessible (no dev experience needed, interactive and
                        fun) and I&#x27;m now sooo much more comfortable with the technical side of the bitcoin
                        fundamentals. In fact, some of the things I learnt helped me while interviewing at bitcoin
                        companies! If you&#x27;re interested in bitcoin and want to learn about how it works - highly
                        recommend taking this course!&quot;</h3>
                      <div class="margin-top margin-medium">
                        <div class="testimonial7_client">
                          <div class="margin-bottom margin-xsmall">
                            <div class="testimonial7_client-image-wrapper"><img loading="lazy"
                                src="/static/img/reviews/tickertape_dev.png" alt="" class="testimonial7_client-image"></div>
                          </div>
                          <div class="text-size-medium semi-bold">Super Coder</div>
                          <div class="text-size-small">Sr. Software Engineer @ Swan Bitcoin</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial7_slide w-slide">
                    <div class="testimonial7_content">
                      <div class="margin-bottom margin-medium"></div>
                      <h3 class="heading-style-h6-3">&quot;I thought I knew how transactions worked in bitcoin up until
                        I took the class. It is a deep, byte by byte dive into the different types of transactions,
                        understandable for non-coding people. Just have an open mindset, let yourself be taught the most
                        basic bitcoin-cli and python commands, and you are good to go. I was afraid it would be too
                        technical, and don&#x27;t get me wrong, it does get into the roots of how the transaction
                        protocols work, but nifty managed to keep it simple and clear enough for someone with a basic
                        bitcoin knowledge to follow.&quot;</h3>
                      <div class="margin-top margin-medium">
                        <div class="testimonial7_client">
                          <div class="margin-bottom margin-xsmall">
                            <div class="testimonial7_client-image-wrapper"><img loading="lazy"
                                src="/static/img/reviews/ghost.png" alt="" class="testimonial7_client-image"></div>
                          </div>
                          <div class="text-size-medium semi-bold">Based Anon</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slider-arrow is-centre-previous hide-mobile-landscape w-slider-arrow-left">
                  <div class="slider-arrow-icon_default w-embed"><svg width="100%" height="100%" viewbox="0 0 16 16"
                      fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M3.31066 8.75001L9.03033 14.4697L7.96967 15.5303L0.439339 8.00001L7.96967 0.469676L9.03033 1.53034L3.31066 7.25001L15.5 7.25L15.5 8.75L3.31066 8.75001Z"
                        fill="currentColor"></path>
                    </svg></div>
                </div>
                <div class="slider-arrow is-centre-next hide-mobile-landscape w-slider-arrow-right">
                  <div class="slider-arrow-icon_default w-embed"><svg width="100%" height="100%" viewbox="0 0 16 16"
                      fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M12.6893 7.25L6.96967 1.53033L8.03033 0.469666L15.5607 8L8.03033 15.5303L6.96967 14.4697L12.6893 8.75H0.5V7.25H12.6893Z"
                        fill="currentColor"></path>
                    </svg></div>
                </div>
                <div class="testimonial7_slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{{ end }}
