<!DOCTYPE html>
<html>
  <head>
    {{ block "head" .Page }} {{ end }}
  </head>
  <body class="bg-white">
   {{ block "nav" . }} {{ end }}
   <main>
   <section id="all">
     <div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0 mx-auto max-w-7xl px-6 lg:px-8">
        <div class="absolute inset-0 -z-10 overflow-hidden">
	    <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
	      <defs>
		<pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
		  <path d="M100 200V.5M.5 .5H200" fill="none" />
		</pattern>
	      </defs>
	      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
		<path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
	      </svg>
	      <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
	    </svg>
	</div>
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-8 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
         <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8">
	    <div class="lg:pr-4">
		    <p class="font-semibold leading-7 text-btcgold">Experience Base58's</p>
		    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
		     {{ .Course.PublicName }}</h1>
		    <p class="mt-6 text-xl leading-8">{{ .Course.ShortDesc }}</p>
	    </div>
	</div>
	<div class="-ml-12 -mt-12 pl-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
	    <figure class="mt-8 lg:mt-20">
	      <img class="aspect-video lg:aspect-auto max-h-2xl sm:max-h-4xl rounded-xl bg-gray-50 object-cover" src="{{ .Course.PromoURL }}" alt="">
	      <figcaption class="mt-4 flex gap-x-2 text-sm leading-6 text-gray-500">
		<svg class="mt-0.5 h-5 w-5 flex-none text-gray-300" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
		  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
		</svg>
		{{ .Course.PublicName }}
	      </figcaption>
	    </figure>
        </div>
	<div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8">
	  <div class="lg:pr-4">
              <div class="mt-10">
	        <p>{{ .Course.LongDesc }}</p>
	    
	        <!-- add a visual reminder of the course difficulty -->
	        {{ if eq .Course.Level "devs" }}
	        {{ end }}
	        {{ if eq .Course.Level "everyone" }}
	        {{ end }}
	        {{ if eq .Course.Level "entry-dev" }}
	        {{ end }}
	        {{ if eq .Course.Level "exp-devs" }}
	        {{ end }}
 	      </div>
              <h2 class="mt-16 text-xl font-bold tracking-tight text-gray-900">What to know before class (pre-requisites)</h2>
	      <p class="mt-2">{{ .Course.PreReqs }}</p>
	      {{ if AvailOnline .Course.Availability }}
              <h2 class="mt-16 text-xl font-bold tracking-tight text-gray-900">
	      Feeling motivated? We've got self-paced online classes</h2>
              <p class="mt-2">Let's goo! Sign up for one of our self-paced online courses today and get your journey into bitcoin started without delay.</p>
	      <!-- if this course is available on Replit/Udemy, show link? -->
                {{ if ne .Course.ReplitURL "" }}
	        <!-- FIXME: add a link/button for class ons replit? -->
		<a target="_blank" href="{{ .Course.ReplitURL }}" class="
		inline-block py-3 px-7 my-8 mr-2 w-full text-lg
		focus:ring-2 focus:ring-orange-500 focus:ring-opacity-50
		border-orange-500 hover:border-orange-600 font-medium
		border-2 rounded-md shadow-sm
		flex justify-center
		">
		  <img src="/static/img/replit.png" class="w-32" />
		</a>
	        {{ end }}
                {{ if ne .Course.UdemyURL "" }}
          	<a target="_blank" href="{{ .Course.UdemyURL }}"
                class="
                inline-block py-3 px-7 my-8 mr-2 w-full text-lg
                focus:ring-2 focus:ring-orange-500 focus:ring-opacity-50
                border-orange-500 hover:border-orange-600 font-medium
                border-2 rounded-md shadow-sm
                flex justify-center
            ">
                <img src="/static/img/icons/udemy-logo.svg" />
            </a>
	        {{ end }}
	    {{ end }}		
	  </div>
	  </div>
	  </div>
	  {{ if ne (len .Sessions) 0 }}
          <div>
              <h2 class="mt-16 text-xl font-bold tracking-tight text-gray-900">
	       Upcoming instructor run sessions</h2>
              <p>Here's what's currently available. Signup for an upcoming in-person class for some face-time with our instructors or find an online option and join us remotely.</p>
    	      <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-6 gap-y-20 sm:grid-cols-2 lg:max-w-4xl lg:gap-x-8 xl:max-w-none">
              {{
                range.Sessions
              }}
	      <li class="flex flex-col gap-6 xl:flex-row">
		<!-- fixme: photo for location -->
		<img class="aspect-[4/5] w-52 flex-none rounded-2xl object-cover" src="{{ .PromoURL }}" alt="">
		<div class="flex-auto">
		  <h3 class="text-lg font-semibold leading-8 tracking-tight text-gray-900">{{ .Location }}</h3>
		  <p class="text-base leading-7 text-gray-600">
		      {{ $lastidx := LastIdx (len .Date) }}
		      {{ if gt $lastidx 0 }}
			    {{ index .Date 0 }} - {{ index .Date $lastidx }}
		      {{ else }}
			    {{ index .Date 0 }}
		      {{ end }} @ {{ .TimeDesc }}
	          </p>
		  <p class="my-6 text-base leading-7 text-gray-600">{{ .AddlDetails }}</p>
		  <h3 class="my-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">
		    <span class="text-green-600">${{ FiatPrice .Cost }}</span>  |
		    <span class="text-bitcoin">${{ BtcPrice .Cost }}</span>
		  </h3>
		  
		      {{ if gt .SeatsAvail 0 }}
			<a href="/register?s={{ .ClassRef}}" class="rounded-md bg-bitcoin px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-btcgold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-btcgold">Register</a>

		      {{ else }}
			<a href="/waitlist?s={{ .ClassRef}}" class="rounded-md bg-bitcoin px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-btcgold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-btcgold">Join Waitlist</a>
		      {{ end }}
			</div>
	        </li>
                {{ end }}
            </ul>
	   </div>
          {{ end }}
      </section>
  </main>
  {{ block "footer" .Page }} {{ end }}
  </body>
</html>
