<!DOCTYPE html>
<html>
  <head>
    <title>Base58⛓️🔓</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <section>
      <h1>Base58⛓️🔓</h1>
      <h1 class="heading-jumbo">{{ .IntroTitle }}</h1>
      <h2>{{ .Base58Pitch }}</h2>
      {{range $i, $course := .Courses}}
      {{ if $course.Visible }}
      <a href="/classes?k={{ .TmplName }}">
      <h3>{{ $course.PublicName }}</h3>
	{{ if $course.ComingSoon }}
	      <p><strong>Coming Soon!</strong></p>
	{{ end }}
      <p><strong>Difficulty:</strong> {{ $course.Level }}</p>
      <p>{{ $course.ShortDesc}}</p>
      <p><strong>Available:</strong></p>
      <ul>
        {{
          range.Availability
        }}
        <li>{{.}}</li>
        {{
          end
        }}
      </ul>
	{{ if $course.AppRequired }}
	      <p>Application Required. Apply now!</p>
	{{ end }}
       </a>
      {{ end }}
      {{ end }}
    </section>
  </body>
</html>
